# ZombieBox extension for Lodash v<%= version %>

This extension provides custom Lodash build with Closure Compiler externs

## Installation

`npm i zombiebox-extension-lodash --save`

## Usage

Methods will be exported into `window.lodash`

## Exported methods:

<%= methods %>
