# zombiebox-extension-lodash

[ZombieBox](https://zombiebox.tv) extension for [Lodash v<%= version %>](https://github.com/lodash/lodash).

## About

This extension provides a custom Lodash build with [Closure Compiler](https://developers.google.com/closure/compiler/) externs.

## Usage

Methods will be exported into `window.lodash`.

## Exported methods:

<%= methods %>
